{% extends "rocpd/base.html" %}

{% block header %}
Welcome to RocmProfileData
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Api Calls
{% endblock %}

{% block content %}
<h2>Api Calls</h2>
-----------------------------------------

{% if api_list %}
    <table>
        <tr>
            <th>apiName</th>
	    <th>args</th>
	    <th>start</th>
	    <th>end</th>
	</tr>
    {% for api in api_list %}
        <tr>
            <td>{{ api.apiName.string }}</td>
	    <td>{{ api.args.string }}</td>
	    <td>{{ api.start }}</td>
	    <td>{{ api.end }}</td>
	</tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
