{% extends "rocpd/base.html" %}

{% block header %}
Welcome to RocmProfileData
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Api Calls
{% endblock %}

{% block content %}
<h2>Api Calls</h2>
-----------------------------------------

{% if api_list %}
    <table>
        <tr>
            <th>apiName</th>
	    <th>total calls</th>
	</tr>
    {% for api in api_list %}
        <tr>
            <td>{{ api.sname }}</td>
	    <td>{{ api.total_calls }}</td>
	</tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
