<!DOCTYPE html>
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'rocpd/basestyle.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
</head>
<body>
	<div class="header"><h2 class="title">{% block header %}Name Me{% endblock %}</h2></div>
	<div class="breadcrumbs">{% block breadcrumbs %} breadcrumbs div {% endblock %}</div>
	<div class="flexrow">
		<div class="menu">{% block menu %} 
			<a href="{% url 'rocpd:dashboard' %}">Overview</a><br>
			<a href="{% url 'rocpd:api_index' %}">Api calls</a><br>
			<a href="{% url 'rocpd:op_index' %}">Gpu ops</a></br>
			<a href="{% url 'rocpd:trace_index' %}">Timeline</a></br>
			<a href="{% url 'rocpd:kernel_index' %}">Kernels</a></br>
			<a href="{% url 'rocpd:graph_index' %}">Graphs</a></br>
			<a href="{% url 'rocpd:autograd_index' %}">Autograd</a></br>
			<a href="{% url 'rocpd:autocop' %}">Autocop</a></br>
			<a href="{% url 'rocpd:metadata' %}">Metadata</a></br>
			<a href="{% url 'rocpd:doc_index' %}">Documentation</a><br>
				 {% endblock %}</div>
		<div class="flexcontent">{% block content %} {% endblock %}</div>
	</div>
</body>
