{% extends "rocpd/base.html" %}

{% block header %}
Graph
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Graphs
{% endblock %}

{% block content %}
<h2>Launches for {{ graphExec }} </h2>
-----------------------------------------

{% if graph_list %}
    <table style="width:50%">
        <tr>
            <th>PID</th>
            <th>TID</th>
            <th>ApiName</th>
            <th>GraphExec</th>
            <th>Stream</th>
            <th>gpuId</th>
            <th>queueId</th>
            <th>apiDuration&nbspusec</th>
            <th>opDuration&nbspusec</th>
            <th>gpuTime&nbspusec</th>
        </tr>
    {% for api in graph_list %}
        <tr>
            <td>{{ api.pid}}</td>
            <td>{{ api.tid}}</td>
            <td>{{ api.apiName}}</td>
            <td>{{ api.graphExec }}</td>
            <td>{{ api.stream}}</td>
            <td>{{ api.gpuId}}</td>
            <td>{{ api.queueId}}</td>
            <td>{{ api.apiDuration_usec}}</td>
            <td>{{ api.opDuration_usec}}</td>
            <td>{{ api.gpuTime_usec}}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
