{% extends "rocpd/base.html" %}

{% block header %}
Graphs
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Graphs
{% endblock %}

{% block content %}
<h2>Graph Captures</h2>
-----------------------------------------

{% if graph_list %}
    <table style="width:50%">
        <tr>
            <th>Graph</th>
            <th>GraphExec</th>
            <th>Stream</th>
            <th>start</th>
            <th>end</th>
            <th>duration&nbspusec</th>
        </tr>
    {% for api in graph_list %}
        <tr>
            <td><a href="{% url 'rocpd:graph_kernel' api.graphExec %}">{{ api.graph }}</td>
            <td><a href="{% url 'rocpd:graph_launch' api.graphExec %}">{{ api.graphExec}}</td>
            <td>{{ api.stream}}</td>
            <td>{{ api.start}}</td>
            <td>{{ api.end}}</td>
            <td>{{ api.duration_us}}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
