{% extends "rocpd/base.html" %}

{% block header %}
Kernel
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Kernels
{% endblock %}

{% block content %}
<h2>Top Kernels</h2>
-----------------------------------------

{% if kernel_list %}
    <table style="width:50%">
        <tr>
            <th>Kernel</th>
            <th>Total Calls</th>
            <th>Total Duration usec</th>
            <th>Average Duration usec</th>
            <th>Percentage</th>
        </tr>
    {% for api in kernel_list %}
        <tr>
            <td>{{ api.Name|truncatechars:100 }}</td>
            <td>{{ api.TotalCalls }}</td>
            <td>{{ api.TotalDuration}}</td>
            <td>{{ api.Ave}}</td>
            <td>{{ api.Percentage}}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
