{% extends "rocpd/base.html" %}

{% block header %}
Metadata
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Metadata
{% endblock %}

{% block content %}
{% if metadata_list %}
    <table class="metadatatable">
    <tr>
        <th>tag</th>
        <th>value</th>
    </tr>
  {% for entry in metadata_list %}
     <tr>
         <td>{{entry.tag}}</td>    
         <td>{{entry.value}}</td>    
     </tr>
  {% endfor%}
    </table>
{% else %}
    <p> No metadata </p>
{% endif %}
{% endblock %}
