{% extends "rocpd/base.html" %}

{% block header %}
Welcome to RocmProfileData
{% endblock %}

{% block breadcrumbs %}
RocmProfileData > Gpu Ops
{% endblock %}

{% block content %}
<h2>GPU Ops</h2>
-----------------------------------------

{% if op_list %}
    <table>
        <tr>
            <th>Op type</th>
	    <th>Total executions</th>
	</tr>
    {% for op in op_list %}
        <tr>
            <td>{{ op.sopType }}</td>
	    <td>{{ op.total_execs }}</td>
	</tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
