 {
	text-align: center;
	padding-top: 50px;
}
a {
	font-size: 30px;
}
.title {
	text-align: center;
}

.flexrow {
    display: flex;
    flex-wrap: nowrap;
}
.menu {
    flex: 0 0 300px;
    background-color: #f1f1f1;
    padding: 20px;
    height: 80vh;
}
.flexcontent {
    flex: 1 1 700px;
    background-color: #e0e0e0;
    padding: 20px;
    a {
        font-size: 15px;
    }
}
