h2{
    font-size: 35px;
    color: #00b8e6;
    font-family: arial;
}

td{
    font-size: 30px;
    font-family: arial;
}

table, th, td{
    border-collapse: collapse;
    border: 2px solid black;
}

table{
    background-color: pink;
}

input{
    font-size: 25px;
    color: #ff0066;
}

th{
    font-size: 27px;
    color: #006666;
}
